bigcode-eval@git+https://github.com/bigcode-project/bigcode-evaluation-harness.git
click
deepdiff
deepeval==1.4.0
docker
evaluate
flask
jieba
kubernetes
langchain_community
langchain_huggingface
lm-eval==0.4.3
locust
numpy==1.23.5
optimum-habana
prometheus_client
pytest
pyyaml
ragas==v0.1.19
requests
rouge_score
sseclient-py
transformers
