# Copyright (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

node_parser:
  type: "node_parser"
  modules:
    - type: "direct"
      attributes:
        - type: "chunk_size"
        - type: "chunk_overlap"
    - type: "hierarchical"
      attributes:
        - type: "chunk_size"

---
indexer:
  type: "indexer"
  modules:
    - type: "embedding_model"
      attributes:
        - type: "model_name"

---
retriever:
  type: "retriever"
  modules:
    - type: "vectorsimilarity"
      attributes:
        - type: "top_k"

---
postprocessor:
  type: "postprocessor"
  modules:
    - type: "reranker"
      attributes:
        - type: "top_n"
        - type: "model_name"
    - type: "metadata"

---
generator:
  type: "generator"
  modules:
    - type: "prompt"
      attributes:
        - type: "content"
